<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="<%= configurationName %>" description="<%= configurationDesc %>">
          <targetDataStore physicalRootPath="<%= physicalRootPath %>" 
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />

          <!--For a reference of the most current predicate grammar, consult the tests here:
              https://github.com/kamsar/Unicorn/blob/master/src/Unicorn.Tests/Predicates/TestConfiguration.xml--> 
          <predicate>
            <include name="Templates"  database="master" path="<%= templatesSitecorePath %>" />
            <include name="Renderings" database="master" path="<%= renderingsSitecorePath %>" />
          </predicate>

          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
